<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ресторан</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="menu.html" class="nav__link">Меню</a></li>
                <li class="nav__item"><a href="register.html" class="nav__link">Регистрация</a></li>
                <li class="nav__item"><a href="cart.html" class="nav__link">Корзина</a></li>
            </ul>
        </nav>
    </header>

    <section class="main">
        <div class="hero">
            <h1 class="hero__title">Добро пожаловать в наш ресторан!</h1>
            <p class="hero__description">Наши блюда подарят вам незабываемый вкус и удовольствие.</p>
            <a href="menu.html" class="button">Посмотреть меню</a>
        </div>
    </section>

    <script src="../js/main.js"></script>
</body>
</html>
