<!-- menu.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="menu.html" class="nav__link">Меню</a></li>
                <li class="nav__item"><a href="register.html" class="nav__link">Регистрация</a></li>
                <li class="nav__item"><a href="cart.html" class="nav__link">Корзина</a></li>
            </ul>
        </nav>
    </header>

    <section class="menu">
        <h1 class="menu__title">Меню</h1>
        <div class="menu__list">
            <div class="menu__item">
                <img src="images/dish1.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Блюдо 1</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="images/dish1.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">пенис 2</h2>
                <p class="menu__item-description">Описание блюда 2.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="images/dish1.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Блюдо 3</h2>
                <p class="menu__item-description">Описание блюда 3.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="AF985632-54CC-4915-859D-A42FB6BD2EF6_1_105_c.jpeg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Блюдо 4</h2>
                <p class="menu__item-description">Описание блюда 4.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="images/dish2.jpg" alt="Блюдо 2" class="menu__item-image">
                <h2 class="menu__item-title">Блюдо 5</h2>
                <p class="menu__item-description">Описание блюда 5.</p>
                <button class="button add-to-cart" data-item="2">Добавить в корзину</button>
            </div>
            <!-- Добавьте больше элементов menu__item при необходимости -->
        </div>
    </section>

    <script src="../js/main.js"></script>
</body>
</html>
